<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试CSRF</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>测试CSRF</h1>
    此路径无token防护，访问次网站，服务器为此网站设定cookie，来自/csrf_attck网站模拟提交请求到POST /csrf_source，浏览器会自动带上/csrf_source的cookie，CSRF攻击产生
    <br/><br/>
    现在尝试到/csrf_attack攻击此网站
</body>
</html>